@model IEnumerable<EagleEye.Models.VictimDetail>

@{
    ViewBag.Title = "GetAllVictims";
}

<h2 class="logoHead"><a href="https://eagleeyewebmvc20200909094613.azurewebsites.net/"><img src="~/EagleEyeLogo.png" alt="Eagle Eye" width="250" , height="190" /></a></h2>

<h2>--All Potential Victims--</h2>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">

        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VictimID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Build)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IncidentId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VictimID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Height)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Build)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncidentId)
        </td>
        <td>
          |  @Html.ActionLink("Delete", "Delete", "Victim", new { id = item.VictimID }, new { style = "color: black;" }) |
        </td>
    </tr>
        }

    </table>
