@model EagleEye.WebMVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 class="logoHead"><a href="https://eagleeyewebmvc20200909094613.azurewebsites.net/"><img src="~/EagleEyeLogo.png" alt="Eagle Eye" width="250" , height="190" /></a></h2>

<h2 style="margin-top: -10px; font-family: 'Times New Roman', Times, serif;">--Register--</h2>
<h6 style="margin-left: 10px;">Create Your Account</h6>
<hr />

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", style = "margin-left: 100px;" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group" style="font-family: 'Times New Roman', Times, serif;">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            <div class="labels" style="font-size: 10px;">(*password must be 6 characters long*)</div>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group" style="margin-top: 20px;">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("User Role", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("UserRoles", (SelectList)ViewBag.Name, "Your Role")
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="background-color: grey; border: 2px solid black; color: white; margin-top: 10px;" class="btn btn-default btn-block" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
