@model EagleEye.Models.IncidentDetail
    @using EagleEye.Data

@{
    ViewBag.Title = "Details";

    var vicList = new List<EagleEye.Data.Victim>();
}
<h2>Details</h2>

<div>
    <h4>IncidentDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IncidentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TimeOfIncident)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfIncident)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedUtc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Victim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Victim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Perp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IncidentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
