<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - EagleEye</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="https://eagleeyewebmvc20200909094613.azurewebsites.net/"><img src="~/EagleEyeLogo.png" alt="Eagle Eye" width="90" , height="70" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="nav">
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Users", "Users", "Admin", null, new { @class = "navLink" })
                        }
                        else
                        {
                            @Html.ActionLink("Home", "Index", "Home", null, new { @class = "navLink" })
                        }
                    </li>
                    <li class="nav">
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Admin", "AdminIncidents", "Admin", null, new { @class = "navLink" });
                        }
                        else
                        {
                            @Html.ActionLink("Incidents", "Index", "Incident", null, new { @class = "navLink" })
                        }
                    </li>
                    <li class="nav">
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Perps", "GetAllPerps", "Admin", null, new { @class = "navLink" });
                        }
                        else
                        {
                        @Html.ActionLink("Mission", "About", "Home", null, new { @class = "navLink" })
                        }
                    </li>
                    <li class="nav">
                        @if (User.IsInRole("Admin"))
                        {
                            @Html.ActionLink("Victims", "GetAllVictims", "Admin", null, new { @class = "navLink" });
                        }
                        else
                        {
                            @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "navLink" })
                        }
                        </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Eagle Eye</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
