@model EagleEye.Data.Victim

<li>
    @Html.DisplayNameFor(e => e.Height): @Model.Height
</li>
<li>
    @Html.DisplayNameFor(e => e.Build): @Model.Build
</li>
<li>
    @Html.DisplayNameFor(e => e.Age): @Model.Age
</li>